/* Rights For Girls Color Palette */

$purple1 	: #380d36;
// Ex: Sub-Navigation background

$purple2	: #4a1249;
// Ex: Main Navigation background

$purple3	: #6b0269;
// Ex: CTA Containers in Content Area 4 of Homepage, “JOIN US. TAKE ACTION” footer top section background

$purple4	: #81026e;
// Ex: “ISSUE AREAS” section title in content area 1 of Issue Areas Page

$purple5	: #ab01a7;
// Ex: Square button default state

$purple6	: #ff00ff;
// Ex: Hover state for all square buttons, “Read More” button default color in “Featured News & Updates” on Homepage

$teal		: #21e3db;
// Ex: social media icons default in header, “293,000” “1 IN 4” “73%” on Homepage

$stronggray	: #c4c2c7;
// Ex: Background color for many sections, Background of “Follow Us” (left section), “Stay Inofrmed” (right section) of footer,

$lightgray 	: #dedade;
// Ex: Background color for amny sections, Background of center “Act Now” section of footer, Mission statement content area 2 background on Home Page

$black		: #2f2f2f;
// Ex: top header (for logo, social media, and Donate button) background

$black2		: #404040;
// Ex: Header Donate button Default background, Body text