/* Images for infograph */

$recommendedthumb: url('/images/recommendedthumb.jpg');
$smalllogo: url('/images/smalllogo.jpg');
$largelogo: url('/images/largelogo.jpg');
$listicon: url('/images/listicon.jpg');
$close: url('/images/close.jpg');
$elefintlogo: url('/images/elefintlogo.jpg');